@charset "UTF-8";
/* CSS Document */

html,body,h1,h2,h3,h4,h5,h6,p,blockquote,ul,ol,li,dl,dt,dd,form,fieldset,input,textarea,label,u
{
	margin:0;
	padding:0;
	border:0px;
	list-style:none;
	font-weight:normal;
	font-style:normal;
	text-align:left;
	

	
}


	body {background:#f3eeea;}
	a,
	a:hover {text-decoration:none}	
	
	/* mobile */
	@media screen and (max-width:767px)
	{
	.resp-section {width: 100%}
	
	.mob-1, .mob-2, .mob-3, .mob-4,
	.mob-5, .mob-6, .mob-7, .mob-8,
	.mob-9, .mob-10, .mob-11, .mob-12
	{float: left;}
	
.mob-12 {width: 100%;}
.mob-11 {width: 91.66666666666666%;}
.mob-10 {width: 83.33333333333333%;}
.mob-9 {width: 75%;}
.mob-8 {width: 66.66666666666666%;}
.mob-7 {width: 58.33333333333333%;}
.mob-6 {width: 50%;}
.mob-5 {width: 41.66666666666666%;}
.mob-4 {width: 33%;}
.mob-3 {width: 25%;}
.mob-2 {width: 16.66666666666666%;}
.mob-1 {width: 3.33333333333333%;}
	
	}
	
		/* Moblie & tablet*/
	@media screen and (max-width:1199px)
	{
		#wrapper {
    	width: 100%;
	}
		.resp-section {width: 100%}

	
		}
	
		/* Only tablet */
	@media screen and (min-width:768px) and (max-width: 1199px)
	{
	
.resp-section {width: 100%}
	
	.tab-1, .tab-2, .tab-3, .tab-4,
	.tab-5, .tab-6, .tab-7, .tab-8,
	.tab-9, .tab-10, .tab-11, .tab-12
	{float: left;}
	
.tab-12 {width: 100%;}
.tab-11 {width: 91.66666666666666%;}
.tab-10 {width: 83.33333333333333%;}
.tab-9 {width: 75% ;}
.tab-8 {width: 66.66666666666666%;}
.tab-7 {width: 58.33333333333333%;}
.tab-6 {width: 50% ;}
.tab-5 {width: 41.66666666666666%;}
.tab-4 {width: 33% ;}
.tab-3 {width: 25% ;}
.tab-2 {width: 16.66666666666666%;}
.tab-1 {width: 3.33333333333333%;}
	
	
	
	}
	
		/* computer & tablet*/
	@media screen and (max-width:768px)
	{

	
	}
	
		/* computer Only*/
	@media screen and (min-width:1200px)
	{
	
.resp-section {width: 100%}
	
	.pc-1, .pc-2, .pc-3, .pc-4,
	.pc-5, .pc-6, .pc-7, .pc-8,
	.pc-9, .pc-10, .pc-11, .pc-12
	{float: left;}
	
.pc-12 {width: 100%;}
.pc-11 {width: 91.66666666666666%;}
.pc-10 {width: 83.33333333333333%;}
.pc-9 {width: 75%;}
.pc-8 {width: 66.66666666666666%;}
.pc-7 {width: 58.33333333333333%;}
.pc-6 {width: 50%;}
.pc-5 {width: 41.66666666666666%;}
.pc-4 {width: 33.33333333333333%;}
.pc-3 {width: 25%;}
.pc-2 {width: 16.66666666666666%;}
.pc-1 {width: 3.33333333333333%;}
	
	
	
	
	
	}
	
		/* Print*/
	@media print
	{}

.resp-section {

padding-right: 15px;
padding-left: 15px;
margin-left: auto;
margin-right: auto;

}

.resp-grid {

margin-right: 15px;
margin-left: 15px;
}


.mob-1, .tab-1, .pc-1,
.mob-2, .tab-2, .pc-2,
.mob-3, .tab-3, .pc-3,
.mob-4, .tab-4, .pc-4,
.mob-5, .tab-5, .pc-5,
.mob-6, .tab-6, .pc-6,
.mob-7, .tab-7, .pc-7,
.mob-8, .tab-8, .pc-8,
.mob-9, .tab-9, .pc-9,
.mob-10, .tab-10, .pc-10,
.mob-11, .tab-11, .pc-11,
.mob-12, .tab-12, .pc-12,
{
position: relative; min-height: 1px;
}

